// general styles
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
}

// header
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerContainer {
    h1 {
        font-size: 7.0rem;
        margin-bottom: 40px;
    }

    p {
        font-size: 2.0rem;
    }

    button {
        font-size: 2.0rem;
        padding: 15px;
        a {
            padding: 15px;
        }
        
        margin-top: 20px;
    }
}

// main
main {
    height: 100vh;

    h2 {
        font-size: 4.0rem;
        text-align: center;
    }

    .placeholder {
        height: 80vh;
        border: 2px solid red;
    }

    form {
        display: flex;
        justify-content: space-evenly;

        .column1,
        .column2 {
            display: flex;
            flex-direction: column;
        }

        label {
            font-size: 2.0rem;
        }
    }
}

// footer
footer {
    background: grey;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    p {
        color: white;
        
        a {
            text-decoration: none;
            color: blue;
        }
    }
}


