// general styles
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    background-color: #accad5;
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
}

// header
header {
    background-image: url(../../assets/417101.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    background: linear-gradient(rgba(255,255,255,1) 48%, rgba(172,202,213,1) 58%);
}

.headerContainer {
    h1 {
        font-size: 7.0rem;
        margin-bottom: 40px;
    }

    p {
        font-size: 2.0rem;
    }

    button {
        font-size: 2.0rem;
        padding: 15px;
        a {
            padding: 15px;
        }
        
        margin-top: 20px;
    }
}

// .bloopo {
//     background-image: url(/assets/start-buttons.png);
//     background-size: contain;
//     background-repeat: no-repeat;
//     height: 47px;
// }

// main
main {

    h2 {
        font-size: 4.0rem;
        text-align: center;
        border: 2px solid green;
    }

    .amiibo-gallery {
        height: 80vh;
        // overflow: hidden;
        border: 2px solid red;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
       
        

        .amiibo-container {
            padding: 20px;
            border: 2px solid purple;
            width: calc(100% / 3);
            height: 50%;
            text-align: center;

            display: flex;
            flex-wrap: wrap;
            align-items: center;

            img {
               height: 200px;
               overflow-x: hidden;
               margin: 0 auto;
            }

            h3,
            p {
                width: 100%;
            }
        }
    }

    form {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 30px;

        .column1,
        .column2 {
            display: flex;
            flex-direction: column;
            width: 35%;
        }

        input {
            background: transparent;
            // border: none;
            text-transform: uppercase;
            font-family: 'Overpass', sans-serif;
            font-size: 1.7rem;
            padding: 10px;
            margin: 15px;
        }

        // [type="radio"] {
        //     opacity: 0;
        //     position: absolute;
        // }


        // label {
        //     font-size: 2.0rem;
        //     border: 2px solid orange;
        // }


        // .buttonLabel {
        //     padding-left: 30px;
        //     position: relative;
        //     line-height: 40px;
        // }

        // .buttonLabel::before,
        // .buttonLabel::after {
        //     content: "";
        //     width: 20px;
        //     height: 20px;
        //     position: absolute;
        //     left: 0;
        //     top: 10px;
        //     background: green;
        //     border: 2px black solid;
        // }

    //     [type="radio"]:checked + .buttonLabel::after {
    //         background-color: red;
    //     }

    //     [type="radio"]:active + .buttonLabel::before,
    //     [type="radio"]:active + .buttonLabel::after {
    //         background: yellow;
    //     }

    //     [type="radio"]:focus + .buttonLabel::before,
    //     [type="radio"]:focus + .buttonLabel::after{
    //         border: 3px solid pink;
    //     }
    }
}

// footer
footer {
    background: grey;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    p {
        color: white;
        
        a {
            text-decoration: none;
            color: blue;
        }
    }
}


