// general styles
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    scrollbar-color: red pink;

    /* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: #5993af;
  border-radius: 20px;
  border: 3px solid white;
}
}



h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
    color: white;

    &:hover{
        color: #C42626;
    }
}

// button styles
.buttonStyle {
    color: white;
    border: solid 2px rgb(74, 72, 72);
    border-radius: 46px;
    background: linear-gradient(145deg, #C42626, #9b1e1e);
    box-shadow:  5px 5px 10px #5b6b71, 
    -5px -5px 10px #fdffff;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    font-size: 1.8rem;
    padding: 10px;
    margin: 15px;

    &:hover {
        background: linear-gradient(145deg, #ffffff, darkgrey);
        box-shadow:  5px 5px 10px #878787, 
        -5px -5px 10px #ffffff;
        color: #C42626;
        font-weight: 700;
    }

    &:active {
        border-radius: 46px;
        background: #9b1e1e;
        box-shadow: inset 5px 5px 10px #521010, 
        inset -5px -5px 10px #e42c2c;
        color: white;
    }
}

// header
header {
    background-image: url(../../assets/nintendo-wallpaper-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.headerContainer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    h1 {
        font-size: 8.0rem;
        // margin-bottom: 545px;
        // margin-top: 125px;
    }

    p {
        font-size: 3.0rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    button {
        font-size: 2.0rem;
        padding: 15px;
        a {
            padding: 15px;
        }
        
        margin-top: 20px;
    }
}



// main
main {
    background-image: url(../../assets/nintendo-main-4.png);
    background-size: cover;
    h2 {
        font-size: 4.5rem;
        text-align: center;
        padding: 75px 0 25px 0;
        
    }
}
    
.amiiboGallery {
    height: 70vh;
    // overflow: hidden;
    border: 10px outset rgb(164,41,22);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    overflow: auto;
 
    .amiiboContainer {
        padding: 20px;
        // border: 2px solid purple;
        width: calc(100% / 3);
        height: 50%;
        text-align: center;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img {
            height: 200px;
            overflow-x: hidden;
            margin: 0 auto;
        }

        h3 {
            font-size: 2rem;
        }

        h3,
        p {
            width: 100%;
        }
    }
}

// form styling
form {
    margin-top: 30px;
    padding-bottom: 10px;
    width: 100%;

    .row1,
    .row2 {
    display: flex;
        justify-content: space-between;
        align-content: center;
        // flex-wrap: wrap;

        .buttonStyle {
            width: 100%;
        }
    }

}


// footer
footer {
    background: white;
    border-top: solid 2px rgb(74, 72, 72);
    border-bottom: solid 2px rgb(74, 72, 72);
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    p {
        color: black;
        line-height: 25px;

        a {
            text-decoration: underline;
            color: rgb(164,41,22);
            &:hover {
                font-weight: 700;
            }
        }
    }
}


