
//==============================================||
//  This is the General Styling for the Webpage ||
//==============================================||

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    // Firefox Scroll bar
    scrollbar-color: #5993af white;
    scrollbar-width: 12px;
    // Chrome/Edge/Safari scroll bar
    *::-webkit-scrollbar {
    width: 12px;
    }
    *::-webkit-scrollbar-track {
    background: white;
    }
    *::-webkit-scrollbar-thumb {
    background-color: #5993af;
    border-radius: 20px;
    border: 3px solid white;
    }
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
    color: white;

    &:hover{
        color: #C42626;
    }
}

//==================================================||
//  This is the Styling for the buttons on the page ||
//==================================================||

.buttonStyle {
    color: white;
    border: solid 2px rgb(74, 72, 72);
    border-radius: 46px;
    background: linear-gradient(145deg, #C42626, #9b1e1e);
    box-shadow:  5px 5px 10px #5b6b71, 
    -5px -5px 10px #fdffff;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 10px;
    margin: 15px;
    // White hover effect on the user input buttons.
    &:hover {
        background: linear-gradient(145deg, #ffffff, darkgrey);
        box-shadow:  5px 5px 10px #878787, 
        -5px -5px 10px #ffffff;
        color: #C42626;
        font-weight: 700;
    }
    // When you select / submit a button it changes the colour.
    &:active {
        border-radius: 46px;
        background: #9b1e1e;
        box-shadow: inset 5px 5px 10px #521010, 
        inset -5px -5px 10px #e42c2c;
        color: white;
    }
}

//==============================================||
//  This is the Header Styling for the Webpage  ||
//==============================================||

header {
    background-image: url(../assets/nintendo-wallpaper-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headerContainer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: 77.5%;
    justify-content: space-between;
    .titlePage {
        p {
            padding-top: 15px;
            font-size: 1.3rem;
        }
    }
    h1 {
        font-size: 8.0rem;
    }
    p {
        font-size: 3.0rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    button {
        font-size: 2.0rem;
        padding: 15px;
        margin-top: 20px;
        a {
            padding: 15px;
        }
    }
}

//==============================================||
//   This is the Main Styling for the Webpage   ||
//==============================================||

main {
    background-image: url(../assets/nintendo-main-4.png);
    background-size: cover;
    h2 {
        font-size: 5.5rem;
        text-align: center;
        padding: 75px 0 25px 0;
    }
}

.mainFlexContainer {
    padding-bottom: 40px;
}

// This is the container holding the Amiibo containers returned by the API
.amiiboGallery {
    height: 70vh;
    border: 10px outset rgb(164,41,22);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    overflow: auto;
    // This CSS affects the Mario Placeholder image.
    .placeholder {
        background-image: url(../assets/placeholder2c.png);
        background-size: cover;
        width: 100%;
        background-position: center;
    }
    // This CSS affects each individual Amiibo's container.
    .amiiboContainer {
        padding: 20px;
        width: calc(100% / 3);
        height: 50%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img {
            height: 200px;
            overflow-x: hidden;
            margin: 0 auto;
            max-width: 100%;
            object-fit: contain;
        }
        h3 {
            font-size: 2rem;
        }
        h3,
        p {
            width: 100%;
        }
    }
}

//==============================================||
//   This is the Form Styling for the Webpage   ||
//==============================================||
form {
    margin-top: 30px;
    width: 100%;
    .row1,
    .row2 {
    display: flex;
        justify-content: space-between;
        align-content: center;
        .buttonStyle {
            width: 100%;
        }
    }

}

//==============================================||
//  This is the Footer Styling for the Webpage  ||
//==============================================||
footer {
    background: white;
    border-top: solid 2px rgb(74, 72, 72);
    border-bottom: solid 2px rgb(74, 72, 72);
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    p {
        color: black;
        line-height: 25px;
    }
    a {
        text-decoration: underline;
        color: rgb(164,41,22);
        &:hover {
            font-weight: 700;
        }
    }
}


