// general styles
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: 'Permanent Marker', cursive;
}

a {
    text-decoration: none;
    color: white;

    &:hover{
        color: #C42626;
    }
}

// button styles
.buttonStyle {
    color: white;
    border: solid 2px rgb(74, 72, 72);
    border-radius: 46px;
    background: linear-gradient(145deg, #C42626, #9b1e1e);
    box-shadow:  5px 5px 10px #5b6b71, 
    -5px -5px 10px #fdffff;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    font-size: 1.8rem;
    padding: 10px;
    margin: 15px;

    &:hover {
        background: linear-gradient(145deg, #ffffff, darkgrey);
        box-shadow:  5px 5px 10px #878787, 
        -5px -5px 10px #ffffff;
        color: #C42626;
        font-weight: 700;
    }

    &:active {
        border-radius: 46px;
        background: #9b1e1e;
        box-shadow: inset 5px 5px 10px #521010, 
        inset -5px -5px 10px #e42c2c;
        color: white;
    }
}

// header
header {
    background-image: url(../../assets/nintendo-wallpaper-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.headerContainer {

    h1 {
        font-size: 7.0rem;
        margin-bottom: 450px;
        margin-top: 100px;
    }

    p {
        font-size: 2.0rem;
    }

    button {
        font-size: 2.0rem;
        padding: 15px;
        a {
            padding: 15px;
        }
        
        margin-top: 20px;
    }
}



// main
main {

    h2 {
        font-size: 4.0rem;
        text-align: center;
        border: 2px solid green;
    }

    .amiibo-gallery {
        height: 80vh;
        // overflow: hidden;
        border: 2px solid red;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: white;
 
        .amiibo-container {
            padding: 20px;
            // border: 2px solid purple;
            width: calc(100% / 3);
            height: 50%;
            text-align: center;

            display: flex;
            flex-wrap: wrap;
            align-items: center;

            img {
               height: 200px;
               overflow-x: hidden;
               margin: 0 auto;
            }

            h3,
            p {
                width: 100%;
            }
        }
    }
    form {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 30px;

        .column1,
        .column2 {
            display: flex;
            flex-direction: column;
            width: 35%;
        }

      


    }
}

// footer
footer {
    background: grey;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    p {
        color: white;
        
        a {
            text-decoration: none;
            color: blue;
        }
    }
}


