@media(max-width: 990px){
    .amiiboGallery {
        .amiiboContainer{
            h3 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
    
    }
    form {
        .buttonStyle {
            font-size: 1.4rem;
            padding: 5px;
        }
    }
}
