@media(max-width: 1300px) {
        .amiiboGallery {
        .amiiboContainer{
            h3 {
                font-size: 1.6rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
    
    }
}

@media(max-width: 990px){
    .amiiboGallery {
        .amiiboContainer{
            width: 50%;
            h3 {
               
            }

            p {
               
            }
        }
    
    }
    form {
        .buttonStyle {
            font-size: 1.4rem;
            padding: 5px;
        }
    }
}