//==============================================||
//  This is the General Styling for the Webpage ||
//==============================================||

@media(max-width: 1300px) {
    .amiiboContainer{
        p {
            font-size: 1.3rem;
        }
    }
}

@media(max-width: 990px){
    .amiiboGallery {
        .amiiboContainer{
            width: 50%;
        }
    }

    form {
        .buttonStyle {
            font-size: 1.4rem;
            padding: 10px;
        }
    }
}

@media(max-width: 800px){
    .headerContainer {
        height: 92%;
        padding-top: 100px;
    }

    .wrapper {
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .mainFlexContainer {
        display: flex;
        align-items: center;
    }

    .amiiboGallery {
        width: 65%;
        margin-bottom: 20px;
        .amiiboContainer {
            width: 100%;
            display: block;
            margin: 20px 0;
            h3 {
                padding: 7px 0;
            }
            img {
                height: 100%;
            }
            p:last-child {
                padding-bottom: 20px;
            }
        }
    }

    form {
        width: 35%;
        margin-top: 0;
        margin-left: 10px;
        .row1, 
        .row2 {
            display:block;
        }
        .buttonStyle {
            margin: 20px 0;
            word-break: break-all;
        }
    }
}

@media(max-width: 680px) {
    .headerContainer {
        h1 {
            font-size: 6rem;
        }
        p {
            font-size: 2.4rem;
        }
    }

    main h2 {
        font-size: 6rem;
    }
}

@media(max-width: 645px) {
    .mainFlexContainer {
        flex-direction: column;
        padding-bottom: 15px;
        .amiiboGallery,
        form {
            width: 100%;
            margin: 0 auto;
        }
        .amiiboGallery {
            order: 2;
        }
        form {
            order: 1;
            display: flex;
            justify-content: space-between;
            .row1,
            .row2 {
                width: 45%;
            }
            .buttonStyle {
                margin: 15px 0;
            }
        }
    }
}

@media(max-width: 550px) {
    .headerContainer {
        p {
            font-size: 2rem;
        }
        .titlePage {
             h1 {
                font-size: 5rem;
            }
        }
    }

    main h2 {
        font-size: 5rem;
    }
}

@media(max-width: 460px) {
    form {
        .buttonStyle {
            font-size: 1.2rem;
        }
    }
}

@media(max-width: 400px) {
    .mainFlexContainer{
        form {
            flex-direction: column;
            align-items: center;
            .buttonStyle {
                margin: 7px 0;
                padding: 10px;
                font-size: 1.4rem;
            }
            .row2:last-child {
                margin-bottom: 20px;
            }
        }
    }
    
    .mainFlexContainer form .row1, 
    .mainFlexContainer form .row2 {
        width: 100%;
    }

    footer {
        font-size: 1.2rem;
    }
}

@media(max-width: 320px) {
    .amiiboGallery .amiiboContainer img {
        height: 180px;
    }
}
