a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  scrollbar-color: #5993af white;
  scrollbar-width: 12px;
}

body *::-webkit-scrollbar {
  width: 12px;
}

body *::-webkit-scrollbar-track {
  background: white;
}

body *::-webkit-scrollbar-thumb {
  background-color: #5993af;
  border-radius: 20px;
  border: 3px solid white;
}

h1,
h2,
h3 {
  font-family: 'Permanent Marker', cursive;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #C42626;
}

.buttonStyle {
  color: white;
  border: solid 2px #4a4848;
  border-radius: 46px;
  background: linear-gradient(145deg, #C42626, #9b1e1e);
  -webkit-box-shadow: 5px 5px 10px #5b6b71,  -5px -5px 10px #fdffff;
          box-shadow: 5px 5px 10px #5b6b71,  -5px -5px 10px #fdffff;
  text-transform: uppercase;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 10px;
  margin: 15px;
}

.buttonStyle:hover {
  background: linear-gradient(145deg, #ffffff, darkgrey);
  -webkit-box-shadow: 5px 5px 10px #878787,  -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #878787,  -5px -5px 10px #ffffff;
  color: #C42626;
  font-weight: 700;
}

.buttonStyle:active {
  border-radius: 46px;
  background: #9b1e1e;
  -webkit-box-shadow: inset 5px 5px 10px #521010,  inset -5px -5px 10px #e42c2c;
          box-shadow: inset 5px 5px 10px #521010,  inset -5px -5px 10px #e42c2c;
  color: white;
}

header {
  background-image: url(../assets/nintendo-wallpaper-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.headerContainer {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 77.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerContainer .titlePage p {
  padding-top: 15px;
  font-size: 1.3rem;
}

.headerContainer h1 {
  font-size: 8.0rem;
}

.headerContainer p {
  font-size: 3.0rem;
  font-weight: 700;
  text-transform: uppercase;
}

.headerContainer button {
  font-size: 2.0rem;
  padding: 15px;
  margin-top: 20px;
}

.headerContainer button a {
  padding: 15px;
}

main {
  background-image: url(../assets/nintendo-main-4.png);
  background-size: cover;
}

main h2 {
  font-size: 5.5rem;
  text-align: center;
  padding: 75px 0 25px 0;
}

.mainFlexContainer {
  padding-bottom: 40px;
}

.amiiboGallery {
  height: 70vh;
  border: 10px outset #a42916;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  overflow: auto;
}

.amiiboGallery .placeholder {
  background-image: url(../assets/placeholder2c.png);
  background-size: cover;
  width: 100%;
  background-position: center;
}

.amiiboGallery .amiiboContainer {
  padding: 20px;
  width: calc(100% / 3);
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amiiboGallery .amiiboContainer img {
  height: 200px;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.amiiboGallery .amiiboContainer h3 {
  font-size: 2rem;
}

.amiiboGallery .amiiboContainer h3,
.amiiboGallery .amiiboContainer p {
  width: 100%;
}

form {
  margin-top: 30px;
  width: 100%;
}

form .row1,
form .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

form .row1 .buttonStyle,
form .row2 .buttonStyle {
  width: 100%;
}

footer {
  background: white;
  border-top: solid 2px #4a4848;
  border-bottom: solid 2px #4a4848;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

footer p {
  color: black;
  line-height: 25px;
}

footer a {
  text-decoration: underline;
  color: #a42916;
}

footer a:hover {
  font-weight: 700;
}

@media (max-width: 1300px) {
  .amiiboContainer p {
    font-size: 1.3rem;
  }
}

@media (max-width: 990px) {
  .amiiboGallery .amiiboContainer {
    width: 50%;
  }
  form .buttonStyle {
    font-size: 1.4rem;
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .headerContainer {
    height: 92%;
    padding-top: 100px;
  }
  .wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .mainFlexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .amiiboGallery {
    width: 65%;
    margin-bottom: 20px;
  }
  .amiiboGallery .amiiboContainer {
    width: 100%;
    display: block;
    margin: 20px 0;
  }
  .amiiboGallery .amiiboContainer h3 {
    padding: 7px 0;
  }
  .amiiboGallery .amiiboContainer img {
    height: 100%;
  }
  .amiiboGallery .amiiboContainer p:last-child {
    padding-bottom: 20px;
  }
  form {
    width: 35%;
    margin-top: 0;
    margin-left: 10px;
  }
  form .row1,
  form .row2 {
    display: block;
  }
  form .buttonStyle {
    margin: 20px 0;
    word-break: break-all;
  }
}

@media (max-width: 680px) {
  .headerContainer h1 {
    font-size: 6rem;
  }
  .headerContainer p {
    font-size: 2.4rem;
  }
  main h2 {
    font-size: 6rem;
  }
}

@media (max-width: 645px) {
  .mainFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 15px;
  }
  .mainFlexContainer .amiiboGallery,
  .mainFlexContainer form {
    width: 100%;
    margin: 0 auto;
  }
  .mainFlexContainer .amiiboGallery {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mainFlexContainer form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainFlexContainer form .row1,
  .mainFlexContainer form .row2 {
    width: 45%;
  }
  .mainFlexContainer form .buttonStyle {
    margin: 15px 0;
  }
}

@media (max-width: 550px) {
  .headerContainer p {
    font-size: 2rem;
  }
  .headerContainer .titlePage h1 {
    font-size: 5rem;
  }
  main h2 {
    font-size: 5rem;
  }
}

@media (max-width: 460px) {
  form .buttonStyle {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .mainFlexContainer form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainFlexContainer form .buttonStyle {
    margin: 7px 0;
    padding: 10px;
    font-size: 1.4rem;
  }
  .mainFlexContainer form .row2:last-child {
    margin-bottom: 20px;
  }
  .mainFlexContainer form .row1,
  .mainFlexContainer form .row2 {
    width: 100%;
  }
  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .amiiboGallery .amiiboContainer img {
    height: 180px;
  }
}
